body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.form{
  background-color: black;
  width: 25vw;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  padding: 1%;
  color: white;
}

.title{
  color: white;
  font-size: 50px;
}